.registro > div{
    background-color: #BEEBF7;
    padding-top: 1%;
    border-radius: 10px;
    margin-top: 5%;
}

.registro > div:first-child h3{

    line-height:110%;
    font-family: Roboto;
    color: white;
    text-shadow: 2px 1.5px 3px #727373;
    text-align: center;
}

.btn-info {
    background-color: white !important;
    color: black !important;
}
.btn-info:hover {
    background-color: black !important;
    color: white !important;
}
