audio {
    display: none !important;
}

/*Queda adaptar el #mensajes segun la pantalla */

.p {
    position: relative;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid black;
}

.absoluto {
    position: absolute;
    left: 0px;
    background-color: #96BDC9;
    border-radius: 10px 0px 0px 10px;
    width: 150px;
    height: 450px;
    padding-top: 10px;

}

.derecha {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 150px;
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.enviar {
    margin-left: 150px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #BEEBF7;
    height: 50px;
}

@media (max-width: 768px) {
    .absoluto {
        width: 85px;
        background-color: red;
    }

    .derecha {
        margin-left: 85px;
    }

    .enviar {
        margin-left: 85px;
    }

    .numero p {
        font-size: 13px;

    }
    .enviar input {
        width: 80% !important;
    }
}


.enviar input {
    width: 95%;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.derecha div {
    margin-left: 10px;
}

.numero p {
    font-weight: bold;

}

.numero {
    text-align: center;

}
.numero div {
    white-space: nowrap;
    overflow: hidden;
}

.numero h3 {
    width: 100px;
}

.numero div {
    padding-top: 10px;
}

.mensaje-propio {
     align-self: flex-end;
     margin-right: 10px;
    /* height:100%;*/

}

.mensaje-propio p {
    /*text-align: center;*/
    margin-right: 10px;
    width: 100%;
}

.mensaje-nuevo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.mensaje-nuevo p{
    background-color: #CED8F6;
}

#enviar-mensaje {
    border: 2px solid #086C86
}

#enviar-mensaje:hover {
    color: black !important;
    border-color: black !important;
}
