audio {
    display: none !important;
}
.numero {
    background-color: #96BDC9;
    border-radius: 10px 0px 0px 10px;
    padding-top: 10px;
}
.derecha > div:first-child {
    overflow-y: auto;
    overflow-x: auto;
    height: 400px;
}
.derecha {
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    height: 450px;
}

.derecha > .row {
    position: absolute;
    bottom:0;
    width: 100%;

}
.enviar {
    background-color: #BEEBF7;
    position: fixed;
    bottom: 0;
    margin-left: 15px;

}

.bot-chat {
    margin-top: 10px;
}

.p {
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
}

.numero p {
    font-weight: bold;

}

.numero {
    text-align: center;

}
.numero div , .numero p{
    white-space: nowrap;
    overflow: hidden;
}
.mensaje-nuevo p{
    background-color: #CED8F6;
}
/*
#seccion {
    display: -webkit-flex;
    display: flex;
}*/
.enviar input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.icono, .enviar {
    padding: 0 !important;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .derecha > div:first-child {
        height: 450px;
    }

    .derecha {
        height: 500px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .derecha > div:first-child {
        height: 550px;
    }

    .derecha {
       height: 600px;
   }

}

.derecha .col-xs-2 {
    width: 10% !important;
}
