audio {
    display: none !important;
}

/*Queda adaptar el #mensajes segun la pantalla */

.p {
    position: relative;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid black;

}

.absoluto {
    position: absolute;
    left: 0px;
    background-color: #96BDC9;
    border-radius: 10px 0px 0px 10px;
    width: 200px;
    height: 450px;
    padding-top: 10px;
}

.derecha {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 200px;
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.enviar {
    margin-left: 200px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    background-color: #BEEBF7;
    height: 50px;
}

.enviar input {
    width: 95%;
    border-radius: 5px;
}

.derecha div {
    margin-left: 10px;

}

.numero p {
    font-weight: bold;
}

.numero {
    text-align: center;
}

.numero div {
    padding-top: 10px;
}

.mensaje-propio {
     align-self: flex-end;
     margin-right: 10px;
     height:100%;

}

.mensaje-propio p {
    /*text-align: center;*/
    margin-right: 10px;
    width: 100%;
}
